@import "mixin";

.header {
  background: #eee;

  .top-header {
    background: #353535;
    color: #FFF;

    .container {
      display: flex;
      justify-content: space-between;
    }

    .sns {
      display: flex;

      a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        border-right: 1px solid #575757;
        transition: 0.3s;

        &:hover {
          &.twitter {
            background: #1DA1F2;
          }

          &.pinterest {
            background: #c8232c;
          }

          &.facebook {
            background: #3b5998;
          }

          &.instagram {
            background: #8a3ab9;
          }

          &.skype {
            background: #00aff0;
          }
        }

      }
    }

    .contact {
      display: flex;

      p {
        display: flex;
        align-items: center;
        margin-left: 30px;

        i {
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }
  }

  .main-header {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      img {
        width: 172px;
      }
    }

    nav {
      display: flex;

      .nav-item {
        .nav-link {
          height: 85px;
          display: flex;
          align-items: center;
          padding: 0 15px;
          text-transform: capitalize;
          color: #333;
          font-weight: 500;
          transition: color 0.3s;

          &:hover {
            color: #18f;
          }

          i {
            margin-left: 5px;
          }

        }
      }
    }
  }
}

.visual {
  background: #3c98db;

  .container {
    display: flex;
    align-items: center;
    height: 500px;
  }

  .text {
    flex: 1;
    max-width: 470px;

    h1 {
      font-size: 38px;
      color: #FFFFFF;
      font-weight: 500;
      margin-bottom: 15px;
    }

    p {
      color: #fff;
      font-size: 18px;
      line-height: 1.5;
    }

    a {
      width: 164px;
      height: 53px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #fff;
      border-radius: 3px;
      margin-top: 20px;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .image {
    flex: 1;
    text-align: right;
  }
}

.amazing-features {
  background: #fff;
  border-top: 1px solid #eee;
  padding: 85px 0;

  .title {
    text-align: center;
    margin-bottom: 50px;
    color: #2F362F;

    h2 {
      font-size: 32px;
      color: #222;
      margin-bottom: 15px;
      font-weight: 500;
      text-transform: capitalize;
    }

    p {
      font-size: 16px;
      color: #777;
    }
  }

  .grid {
    display: flex;

    .grid-item {
      width: 33.33%;
      padding: 15px;
    }
  }

  .item {
    text-align: center;

    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }

    h3 {
      margin: 20px 0 10px;
      font-size: 20px;
      font-weight: 500;
      color: #222;
    }

    p {
      font-size: 15px;
      color: #777;
      line-height: 1.5;
      line-height: 24px;

    }
  }
}

.sponsors {
  margin: 0 -15px;
  padding: 37px 137.5px;
  background: #f6f7f8;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      max-width: 154px;
      max-height: 70px;
      margin: 10px 23px;
      opacity: 0.5;
      transition: 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #2f3539;
  padding: 25px 351.5px 30px;

  .container {
    padding: 15px;
    margin: 0 45px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

    i {
      margin: 15px 0px;
      font-size: 40px;
      color: #3498db;
      font-weight: bold;
    }

    p {
      line-height: 26px;
    }

    .total-number {
      color: #ddd;
      font-size: 28px;
    }

    .desc {
      color: #bbb;
      font-style: italic;
    }

  }
}

.amazing-features2 {
  background: #fff;
  border-top: 1px solid #eee;
  padding: 85px 0;

  .title {
    text-align: center;
    padding: 0 15px;
    margin: 0 0 50px;
    color: #2F362F;

    h2 {
      font-size: 32px;
      color: #222;
      margin: 0 0 15px;
      font-weight: 500;
      text-transform: capitalize;
    }

    p {
      font-size: 16px;
      color: #777;
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;

    .grid-item {
      width: 33.33%;
      padding: 0 15px;

      .item {
        text-align: center;
        margin: 30px 0;

        img {
          height: 72px;
          width: auto;
        }

        h3 {
          margin: 20px 0 10px;
          color: #2f362f;
          font-size: 20px;
          font-weight: 500;
        }

        p {
          font-size: 15px;
          line-height: 1.5;
          font-weight: 400;
          margin: 0 0 15px;
          padding: 0 10px;
          color: #777;
        }
      }
    }
  }
}

.client {
  background: #3498db;
  margin: 0 -15px;
  padding: 85px 0;

  .title {
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 15px;
      color: #fff;
      font-weight: 500;
      text-transform: capitalize;
    }

    p {
      margin-bottom: 15px;
      color: #fff;
      line-height: 24px;
      font-weight: 400;
    }
  }

  .inner-customer {
    display: flex;

    .grid-item {
      padding: 10px 15px 30px;

      .box {
        background: #fff;
        padding: 30px;
        border-radius: 5px;

        p {
          font-family: 'Open Sans', sans-serif;
          line-height: 26px;
          font-size: 16px;
          color: #7c8595;
        }
      }

      .item {
        display: flex;
      }

      img {
        border-radius: 50%;
        border: 5px solid #ffffff;
        margin: 15px 15px 0 25px;

      }

      .author {
        color: #fff;
        font-size: 16px;
        margin: 36px 0 15px;
        display: flex;
        flex-direction: column;

        p {
          line-height: 24px;
        }

        .name {
          font-weight: bold;
        }

      }
    }
  }


}

.team {
  background: #393F43;
  padding: 85px 0;

  .container {
    .title {
      text-align: center;

      h2 {
        color: #ddd;
        margin: 0 0 15px;
        font-size: 32px;
        font-weight: 500;
        text-transform: capitalize;
      }

      p {
        color: #bbb;
        font-size: 16px;
        margin: 0 0 15px;
        line-height: 24px;

      }
    }

    .grid {
      display: flex;

      .grid-item {
        padding: 0 15px;
        text-align: center;

        .profile {
          margin: 20px 0px;
          padding: 1px 30px 15px;

          img {
            border-radius: 50%;
            border: 5px solid #fff;
          }

          h3 {
            color: #ddd;
            font-size: 18px;
            margin: 20px 0px 1px;
            font-weight: 500;
          }

          p {
            color: #ccc;
            line-height: 24px;
            font-size: 15px;
          }

          .blue-bar {
            width: 50px;
            height: 3px;
            background: #3498db;
            margin: 0 auto 20px auto;

          }

          .position {
            margin: 0 0 15px;
            font-style: italic;
          }

          .desc {
            font-weight: 400;
            margin-bottom: 15px;
          }

          .sns {
            margin: 15px 0 20px;
            padding: 0 0 0 15px;
            display: flex;
            justify-content: center;

            a {
              margin: 0 3px;
              height: 34px;
              width: 34px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;

              i {
                color: #fff;
              }

              &.twitter {
                background: #1DA1F2;
              }

              &.pinterest {
                background: #c8232c;
              }

              &.facebook {
                background: #3b5998;
              }

              &.dribble {
                background: #ea4c89;
              }
            }
          }
        }
      }
    }
  }
}

.difference {
  background-color: #f6f7f8;
  border-top: 1px solid #eaeaea;
  padding: 90px 0;

  .container {
    display: flex;

    .video {
      padding: 0 30px 0 15px;
    }

    .desc {
      display: flex;
      flex-direction: column;
      padding: 0 15px;
      color: #656565;

      .item {
        //&:hover {
        //  position: relative;
        //}
        //
        //&.hide {
        //  display: none;
        //}
        //
        //&:hover .hide {
        //  display: block;
        //  z-index: 100;
        //  position: absolute;
        //}


        a {
          padding: 14px 20px;

          span {
            margin: 0 0 0 14px;
            color: #656565;
            font-weight: 500;
          }
        }

        .blue-bar {
          border-bottom: 3px solid #3498db;
          padding: 7px 20px;
        }


        p {
          color: #7c8595;
          padding: 14px 20px;
          line-height: 24px;
        }

        i {
          font-size: 20px;
          color: #656565;
        }


      }
    }
  }
}

.latest-project {
  background: #393f43;
  border-top: 1px solid #eaeaea;
  padding: 85px 0;

  .title {
    text-align: center;

    h2 {
      text-transform: capitalize;
      font-size: 32px;
      margin: 0 0 15px;
      color: #ddd;
      font-weight: 500;
    }

    p {
      color: #bbb;
      font-size: 16px;
      margin: 0 0 15px;
    }

  }

  .card-list {
    margin-top: 30px;

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        flex: 1 1 33.33%;
        max-width: 33.33%;
        padding: 0 15px;
        @include screen-sm {
          flex: 1 1 50%;
          max-width: 50%;
        }
        @include screen-xs {
          flex: 1 1 100%;
          max-width: 100%;
        }
      }
    }

    .card {
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
      transition: .4s;

      &:hover {
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
      }

      .thumb {
        position: relative;

        img {
          width: 100%;
          vertical-align: top;
          border-radius: 5px 5px 0 0;
        }

        .screen {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 100;
          background: rgba(0, 0, 0, 0.6);
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          opacity: 0;
          transition: .4s;
          cursor: pointer;

          i {
            font-size: 40px;
          }

          &:hover {
            opacity: 1;
          }

        }
      }

      .desc {
        margin: 0 0 20px;
        padding: 1px 20px 12px;
        border-radius: 0 0 5px 5px;
        background-color: #fff;
        text-align: center;

        h3 {
          font-size: 18px;
          color: #454545;
          margin: 10px 0 1px;
          line-height: 20px;
          font-weight: 500;
        }

        p {
          font-size: 15px;
          margin: 0 0 5px;
          color: #7c8595;
          line-height: 24px;
          font-weight: 400;
          font-style: italic;
        }
      }

    }

  }
}

.lastest-news {
  padding: 85px 0;

  .title {
    text-align: center;

    h2 {
      text-transform: capitalize;
      font-size: 32px;
      margin: 0 0 15px;
      color: #2f362f;
      font-weight: 500;
    }

    p {
      color: #7c8595;
      font-size: 16px;
      margin: 0 0 15px;
    }
  }

  .card-list {
    padding: 35px 15px 0;
  }

  ul {
    display: flex;

    li {
      flex: 1 1 33.33%;
      max-width: 33.33%;
      padding: 0 15px;
      @include screen-sm {
        flex: 1 1 50%;
        max-width: 50%;
      }
      @include screen-xs {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }

  .item {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    transition: .4s;

    &:hover {
      box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25);
    }

    .thumb {
      position: relative;

      img {
        width: 100%;
        vertical-align: top;
        border-radius: 5px 5px 0 0;
      }

      .screen {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        opacity: 0;
        transition: .4s;
        cursor: pointer;

        i {
          font-size: 40px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .desc {
      padding: 1px 25px 20px;
      background-color: #f6f7f8;
      border-radius: 0 0 5px 5px;

      h3 {
        font-size: 20px;
        font-weight: 500;
        margin: 15px 0 10px;
        color: #333;
        @include screen-xs {
          font-size: 22px;
        }
      }

      p {
        margin: 15px 0 20px;
        line-height: 24px;
        font-weight: 400;
        color: #777;
        @include screen-xs {
          font-size: 14px;
        }
      }

      a {
        text-transform: capitalize;
        color: #858585;
        font-size: 14px;
      }

      .user {
        font-style: italic;
        padding: 0 10px 0 0;
        margin: 0 10px 0 0;
        border-right: 1px solid #858585;
      }

      i {
        color: #858585;
      }

    }

  }

}

.working-process {
  .container {
    padding: 85px 0;
  }

  .title {
    text-align: center;

    h2 {
      font-size: 30px;
      line-height: 38px;
      margin: 0 0 15px 0;
      font-weight: 500;
      text-transform: capitalize;
    }

    p {
      color: #7c8595;
      font-size: 16px;
      margin: 0 0 15px;
      line-height: 24px;
    }
  }

  .grid {
    display: flex;
    justify-content: space-between;

    .grid-item {
      padding: 60px 15px 0;

        .img-border {
          border: 2px dashed #ddd;
          border-radius: 50%;
          overflow: hidden;

          img {
            margin: 5px;
          }
        }



      h3 {
        font-size: 18px;
        margin: 20px 0 15px;
        text-align: center;
        font-weight: 500;
      }

    }
  }
}

.news-letter {
  background: #3498db;
  padding: 85px 0;

  .container {
    display: flex;
    align-items: center;
  }

  .image {
    flex: 1;
    text-align: center;
    margin-bottom: 35px;
  }

  .info {
    padding: 1px 0 30px 60px;
    border-left: 1px solid #ffffff;
    flex: 2;

    h2 {
      font-size: 28px;
      margin: 36px 0 30px;
      line-height: 36px;
      font-weight: 400;
      color: #fff;
    }

    .form {
      .inputbox {
        border: 1px solid #fff;
        border-radius: 5px;
        width: 400px;
        height: 56px;
        max-width: 400px;
        margin: 0 10px 0 0;
        padding: 0 28.3594px;

        .email {
          text-transform: uppercase;
          line-height: 56px;
          border: none;
          background: none;
          width: 100%;
          height: 100%;
          display: block;

          &:focus {
            outline: 0;
          }

          &::placeholder {
            color: #fff;
            font-size: 16px;
            text-transform: capitalize;
          }
        }
      }

      .start {
        text-transform: uppercase;
      }

      p {
        font-size: 15px;
        margin: 0 0 15px;

        label {
          color: #fff;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 15px;
          margin: 0 0 5px;
        }
      }

      button {
        border-radius: 5px;
        background: #fff;
        width: 140px;
        height: 56px;
        margin: 0 5px 0 0;
        padding: 1px 6px;
        text-transform: uppercase;
        font-weight: bold;
        color: #3498db;
        cursor: pointer;
        border: none;
        transition: 0.3s;

        &:hover {
          color: #fff;
          background: #346cdb;
        }
      }


    }

  }


}

.footer {
  background: #353535;
  padding: 85px 0 0;

  .footer-top {
    ul {
      display: flex;

      li {
        padding: 0 15px 50px;
        flex: 1;

        h4 {
          color: #fff;
          font-size: 16px;
          margin: 36px 0 20px;
          text-transform: uppercase;
          line-height: 1.2;
          font-weight: 500;
        }

        .bbox {
          width: 50px;
          height: 3px;
          background: #3498db;
          margin: 20px 0;
        }

        p {
          color: #ddd;
          font-size: 15px;
          margin: 0 0 20px;
          line-height: 24px;
          font-weight: 400;
        }

        a {
          color: #ddd;
          font-size: 14px;
          line-height: 24px;
        }


      }

      .button {
        border-radius: 5px;
        background: #3498db;
        width: auto;
        height: 48px;
        padding: 14px 20px;
        text-transform: capitalize;
        color: #fff;
        cursor: pointer;
        border: none;
        transition: 0.3s;
        font-size: 14px;
        font-weight: bold;

        &:hover {
          color: #fff;
          background: #346cdb;
        }
      }

      .list {
        display: flex;
        flex-direction: column;

        a {
          padding: 5px 0 5px;
          border-bottom: 1px solid #999;
          line-height: 28px;

        }
      }

      .picture {
        img {
          border: 5px solid #292929;
          margin: 5px 2px 2px;
          transition: 0.3s;

          &:hover {
            opacity: 0.3;
          }
        }
      }

      .contact {
        display: flex;
        flex-direction: column;

        a {
          margin: 0 0 8px;

          i {
            padding: 0 5px 0 0;
          }
        }
      }

      .contact-desc {
        margin: 0 0 15px;
      }
    }


  }

  .footer-bottom {
    padding: 27px 0;
    border-top: 2px dotted #999;
    display: flex;
    align-content: center;

    p, a, span {
      color: #999;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
    }

    .copy-right {
      flex: 5;
    }

    .top-button {
      flex: 2;
      text-align: center;
      justify-content: center;
      display: flex;

      a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        border-radius: 5px;
        border: 1px solid #999;
        transition: 0.3s;

        &:hover {
          background: #346cdb;
          border: 1px solid #346cdb;
        }
      }

    }

    .follow {
      flex: 5;
      text-align: right;
      padding: 0 15px;

      a {
        padding: 0 3px;
        transition: 0.3s;

        i {
          &:hover {
            &.fa-twitter {
              color: #1DA1F2;
            }

            &.fa-pinterest {
              color: #c8232c;
            }

            &.fa-facebook {
              color: #3b5998;
            }

            &.fa-instagram {
              color: #8a3ab9;
            }

            &.fa-skype {
              color: #00aff0;
            }
          }
        }
      }


    }


  }
}


